version: "3.8"
services:
  gateway-api:
    build: ./gateway-api
    ports:
      - "8000:8000"
    environment:
      - COLOR_ANALYSIS_SERVICE_URL=http://color-analysis-service:5002/analyze
      - COLOR_PALETTE_SERVICE_URL=http://palette-service:5003/recommend
      - AI_DESCRIPTION_SERVICE_URL=http://ai-description-service:5001/describe
  ai-description-service:
    build: ./ai-description-service
    ports:
      - "5001:5000"
  color-analysis-service:
    build: ./color-analysis-service
    ports:
      - "5002:5000"
  palette-service:
    build: ./palette-service
    ports:
      - "5003:5000"
