version: "3.8"
services:
  gateway-api:
    build: ./gateway-api
    ports:
      - "8000:8000"
  ai-description-service:
    build: ./ai-description-service
    ports:
      - "5001:5000"
  color-analysis-service:
    build: ./color-analysis-service
    ports:
      - "5002:5000"
  palette-service:
    build: ./palette-service
    ports:
      - "5003:5000"

